<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="KakaoThreadFix"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Fix KakaoTalk thread share Parcelable classloader for EXTRA_COMMUNITY_THREAD_INFO." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <!-- LSPosed scope hint (still can be overridden in manager UI) -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>

